<h1>All users of this social sites</h1>
<% @users.each do |user|%>
    <%if user != current_user%>
        <%= user.user_name%> 
        <%if type="unfollow"%>
            <%= button_to "follow"%><br>
        <%else%>
            <%= button_to "unfollow"%><br>
        <%end%>
    <%end%>
<%end%>
